 body{
    padding: 0;
    margin: 0;
    background-image: url("img/photo2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
      background-position: center;
   overflow-x: hidden;
 animation-name:x ;
   animation-duration:2.5s ;
   
   animation-timing-function: linear;

 }

 @keyframes x{
   from{
        opacity: 0;
       }

     to{
        opacity: 1;
       }
 }


 header{
    display: flex;
    justify-content: space-between;

 }

 h1{
    padding: 0;
    margin:3px 0 0 4px;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 35px;
    
 }

nav,ul{
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: serif;

 
}
#exit{
    display: none;
}
li:hover{
    
    scale: 1.1;
    border-bottom:2px solid black;

}
 li{
    list-style: none;
 
    color: white;
    font-size: 20px;
    margin-right: 40px;
    transition: border 2s linear;
 }


div{
    padding: 3px;
    margin:  10px 5px 20px 0;
    font-size: 18px;
    font-weight: 700;
    background-color: goldenrod;
    border-radius: 10px;
    animation-name: k;
    animation-duration: 4s;
    animation-timing-function: linear;
    box-shadow: 2px 2px 5px 4px black;

}

@keyframes k{
    from{
        translate: 80px;
    }
}

a{
    text-decoration: none;
}

main{
    
    width:90%;
}
main h2{
    position: relative;
    top: 30px;
    left: 15px;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

main p{

    position: relative;
    top: 10px;
    left: 15px;
    font-size: 25px;
    color: rgb(17, 10, 1);
    text-shadow: 2px 2px 5px black;
}
main p::selection{
    background-color: goldenrod;
}

#btn{
  display: none;
}

main button{
    font-size: 20px;
    cursor: pointer;
    background-color: goldenrod;
    border-radius: 20px;
    position: relative;
    top: 18px;
    left: 25px;
    border-radius: 10px;
    padding: 3px;
}



/* media */

@media(max-width:810px){

    body{
        background-image: url('img/pyramids.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
#div1{
display: none;
}
 nav{
  display: none;

}
ul{
position: fixed;
width: 50%;
top: 0;
background-color: #222;
right: 0;
z-index: 2;
justify-content: space-around;
margin:0 ;
flex-direction: column;
align-items: center;
height: 100vh; 
animation-name: navofphone;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-timing-function: linear;
      }

@keyframes  navofphone{
 from{
        
opacity: 0;
     } 
 to{
        
opacity: 1;
    } }


    #exit{  
        color: white;
        border-radius: 50%;
        cursor: pointer;
        z-index: 3;
        position: absolute;
        top: 10px;
        left: 10px ;
        font-size: 17px;
       
    
       

    }

    main p{
        color:white;
        text-shadow: 3px 3px 20px rgb(71, 62, 8);
    }
    main p::selection{
        color: black;
    } 

li{
    display: block;
    font-size: 16px;
    background-color: black;
    color: goldenrod;
    border: 1px white solid;
  
    padding: 5px;
    border-radius: 3px;
    transition: all .5s linear;

}
li:hover{
    background-color: black;
    border-bottom:white 1px solid ;
    background-color: rgb(24, 23, 23);
}
section{
  display: flex;
  justify-content: space-between;
}
#btn{
display: block;
margin: 10px 0;
scale: 1.2;
position: absolute;
right: 10px;
top: 5px;
background-color: black;
padding: 4px;
border-radius: 3px;
color: white;

}

}






