 body{
    padding: 0;
    margin: 0;
    background-image: url("img/photo2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
overflow-x: hidden;
 animation-name:x ;
   animation-duration:2.5s ;
   animation-timing-function: linear;

 }

 @keyframes x{
  from{
opacity: 0;
   }

   to{
      opacity: 1;
   }
 }


 header{
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(21, 21, 78, 0.797);  */
 }

 h1{
    padding: 0;
    margin:3px 0 0 4px;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 35px;
    
 }

nav,ul{
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: serif;

 
}
li:hover{
    /* font-size: 22px; */
    scale: 1.1;
    border-bottom:2px solid black;

}
 li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin-right: 40px;
    transition: border 2s linear;
 }


div{padding: 10px;
    margin:  10px 5px 20px 0;
    font-size: 20px;
    background-color: goldenrod;
    border-radius: 10px;
    animation-name: k;
animation-duration: 4s;
animation-timing-function: linear;
box-shadow: 2px 2px 5px 4px black;

}

@keyframes k{
    from{
        translate: 80px;
    }
}

a{
    text-decoration: none;
}

main{
    position: relative;
    bottom: 25px;
    left: 30px;
}
main h2{
    position: relative;
    top: 30px;
    left: 15px;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

main p{
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

main button{
font-size: 20px;
    background-color: goldenrod;
    border-radius: 20px;
    position: relative;
    top: 18px;
    left: 25px;
    border-radius: 10px;
    padding: 3px;
}


details{
  display: none;
}

@media (min-width:993px) {
body{
  background-attachment: fixed;
  /* background-position: -400px; */
}}
@media (min-width:601px) and (max-width:992px){
body{
  background-color: rgb(48, 26, 1);
  background-attachment: fixed;
  background-position: -400px;
}
}


@media (max-width:600px){
  body{
    background-image: url(img/photo2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(19, 5, 0);
    background-position: -700px;
    height: 100vh;
  }
  h1{
    font-size: 32px;
    text-align: center;
position: relative;
/* left: 230px; */

  }
  main h2{
    font-size: 30px;
       position: absolute;
  top: 150px;
  left: 30px;
  }

    main p{
    font-size: 28px;
       position: absolute;
   top:230px;
   left: -20px;
  }
  div,ul{
    display: none
 
  }

  details button{
    display: block;
    text-align: center;
    padding:10px;
    color: white;
    background-color: black;
    border-radius: 30px;
  }

  details section{
    display: block;
    width: fit-content;
    background-color: rgb(20, 18, 18);
    padding: 10px;
    border-radius: 30px;
  }
  
  details{
    font-size: 20px;
    position: relative;
    top: 10px;
    right: 20px;
display: block;
appearance: none;
  }


  main button{
    position: absolute;
    top: 500px;
    left: 100px;
  }

    }

  

